{% extends 'base.html' %}

{% block body_block %}
  <div class="jumbotron">
    <h3>Create New Post</h3>
    <form action="{% url 'posts:create' %}" method="POST">
      {% csrf_token %}
      <div class="form-group form-group-md">
        <label for="title">Title</label>
        <input class="form-control" id="title" name="title" type="text">

        <label for="url">URL</label>
        <input class="form-control" id="url" name="url" type="text">
      </div>
      <button type="submit" class="btn btn-primary" value="Signup">Post</button>
      {% if error %}
        {{error}}
      {%  endif %}


    </form>

  </div>
{% endblock %}
